/*Estilo general utilizado en diferentes actividades*/
.contenedor-centro{
    text-align: center;
}

/*Estilos utilizados para la actividad 2.4*/
.contenedor-encabezado{
    text-align: center;
    border-width: 10px;
    border-style: solid;
    border-color: #300345;
    background-color: #9269F2;
}
.contenedor-izq{
    float: left;
    width: 48dvw;
    min-height: 30dvh;
    border-width: 5px;
    border-style: dotted;
    border-color: #300345;
    background-color: #4485AC;
    box-sizing: border-box;
}
.contenedor-der{
    float: right;
    width: 48dvw;
    min-height: 30dvh;
    border-width: 5px;
    border-style: dotted;
    border-color: #300345;
    background-color: #84AC44;
    box-sizing: border-box;
}

/*Botón creado con un contenedor, ejercicio 2.5*/
/*Contenedor div de los elementos en pantalla*/
.contenedor-boton{
       
        /*propiedad heigh, sirve para ajustar el contenedor al 50% de la pantalla*/
        /*propiedad margin, ajusta los margenes del contenedor*/
            height: 50dvh;
            margin: 0;
            display: flex;
        /*propiedad justify-content, sirve para ajustar la posición de los objetos en el eje x*/
        /*propiedad align-items ajusta la fila horizontal en vertical*/
            justify-content: center;
            align-items: center;

}
/*Contenedor div del botón*/
.boton{
    /*Se declara la propiedad de color a los hipervinculos presentes en pantalla*/
    a{
    color: #51740C;
    }
    /*Se declara el tamaño de letra (font-size) y que esté centrada dentro del contenedor (text-align)*/
    font-size: larger;
    text-align: center;
    width: 20dvw;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #96A2D9;
    background-color: #A8CFE1;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #ECF3F8;
    box-shadow: 
    0 0 10px #104C65,
    0 0 30px #24A4DB,
    0 0 60px #84CCEB;
}

/*Estilizado de la página de índice*/
.indice{
    /*fondo*/
    background-color: #38C744;
    /*fuentes*/
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    h1{
    color: #103813;
    }

}
/*Secciones presentes en el índice de la página principal*/
.b-arriba-izq{

    text-align: center;
    float: left;
    width: 32dvw;
    min-height: 50dvh;
    border-width: 5px;
    border-style: dashed;
    border-color: #187D8B;
    background-color: #D8F061;
    box-sizing: border-box;

}
.b-arriba-centro{

    text-align: center;
    float: left;
    width: 32dvw;
    min-height: 50dvh;
    border-width: 5px;
    border-style: dashed;
    border-color: #187D8B;
    background-color: #90F061;
    box-sizing: border-box;

}
.b-arriba-der{

    text-align: center;
    float: left;
    width: 32dvw;
    min-height: 50dvh;
    border-width: 5px;
    border-style: dashed;
    border-color: #187D8B;
    background-color: #61F079;
    box-sizing: border-box;

}

.b-abajo-izq{

    text-align: center;
    float: inline-start;
    width: 44dvw;
    min-height: 50dvh;
    border-width: 5px;
    border-style: dashed;
    border-color: #187D8B;
    background-color: #75EB66;
    box-sizing: border-box;
}

.b-abajo-der{
                
    text-align: center;
    float: inline-end;
    width: 44dvw;
    min-height: 50dvh;
    border-width: 5px;
    border-style: dashed;
    border-color: #187D8B;
    background-color: #66EB99;
    box-sizing: border-box;

}
